<br>
<div class="container">
	<%if user_signed_in?%>
		<p class="text-right">Signed as <%= current_user.email %>
		<%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'btn btn-primary' %>
		</p>
	<%end%>
	<div class="panel panel-primary">

		<div class="panel heading">
		<h2 class="text-center">Professores</h2>
		</div>

		<div class="panel-body">
				<% @professors.each do |prof| %>
				<div class="col-md-offset-1">
					<div class="row col-md-6 linha">
						<div class="col-md-6">
							<%= image_tag(prof.avatar.url(:medium), :class => "img-rounded foto") %>
						</div>
						<div class="col-md-6">
							<h3><%= prof.name %></h3>
							<p>Avalie esse professor</p>
							<p><%= link_to "Avaliar", prof, :class => "controls btn btn-primary btn-lg"%></p>
						</div>
					</div>
				</div>
				<% end %>
		</div>

	</div>
</div>