<body class="margin-prof">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-offset-3">

					<div class="col-md-4">
						<%= image_tag(@professor.avatar.url(:medium), :class => "img-rounded") %>
					</div>
					<div class="col-md-8">
						<h3 class="margin-parag"><strong><%= @professor.name %></strong></h3>	

						<h6 class="margin-parag">Avalie e adicione um comentário</h6>

						<%= link_to bom_professor_path(@professor), method: :put, :class => "btn btn-primary margin-parag" do %>
						  Bom
						  <%= @professor.get_upvotes.size %>
						<% end %>
						<%= link_to ruim_professor_path(@professor), method: :put, :class => "btn btn-primary margin-parag" do %>
						  Ruim
						  <%= @professor.get_downvotes.size %>
						<% end %>

						<%= simple_form_for([@professor, @professor.comments.build]) do |comment| %>
							<p class="margin-parag>
								<%= comment.label :Comentário %><br>
								<%= comment.text_area :text %>
							</p>

							<p>
								<%= comment.submit :Enviar, :class => "btn btn-primary" %>
								<%= link_to "Voltar", :bacqk %>
							</p>

						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

